{
	http_port  9080
	https_port 9443
	auto_https disable_redirects
}

localhost:9080 {
    redir https://localhost:3000{uri} permanent
}

localhost:9443 {
	tls internal

	handle /api* {
		reverse_proxy backend_prod:8080
	}

	handle /login {
		reverse_proxy backend_prod:8080
	}

	handle /logout {
		reverse_proxy backend_prod:8080
	}

	handle /register_and_privacy_policy {
		reverse_proxy backend_prod:8080
	}

	handle /openapi.json {
		reverse_proxy backend_prod:8080
	}

	handle /docs {
		reverse_proxy backend_prod:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	log {
		output stdout
		format console
	}
}
