localhost {
	tls internal

	handle /api* {
		reverse_proxy backend_prod:8080
	}

	handle /openapi.json {
		reverse_proxy backend_prod:8080
	}

	handle /documentation {
		reverse_proxy backend_prod:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	log {
		output stdout
		format console
	}
}
