APP_ENV=dev
SECRET_KEY=yoursecretkey
DB_URL=postgresql+asyncpg://your_username:your_password@postgres:5432/your_database_dev
CELERY_BROKER_URL=redis://redis_dev:6379/0
REDIS_URL=redis://redis_dev:6379
MINIO_ENDPOINT=miniodev:9000
MINIO_ROOT_USER=your_username
MINIO_ROOT_PASSWORD=minio-secret-key
MINIO_BUCKET=llm-screening-poc-bucket
OPENROUTER_MOCK=y