APP_ENV=dev
SECRET_KEY=yoursecretkey
DB_URL=postgresql+asyncpg://your_username:your_password@postgres:5432/your_database_dev
CELERY_BROKER_URL=redis://redis_dev:6379/0
REDIS_URL=redis://redis_dev:6379